{% extends 'layout.html' %}

{% block pageTitle %}
  Access, store and upload digital GP records
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="#">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>

      <h1> 
        View or update this patient's record
      </h1>
      <b>Kevin Calvin BLOGGS</b> <br>
      NHS number: 973 078 7212 <br>
      Date of birth: 13 September 2006<br><br>


    </div>
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">

          <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-three-quarters nhsuk-card-group__item">
          
              <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content nhsuk-card__content--primary">
                  <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="/kcb-lg-record">View patient's Lloyd George Record</a>
                  </h2>
                  <p class="nhsuk-card__description">View or search through this patient's medical record</p>
          
                  <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                    <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                    <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                      <path d="M15.438 13l-3.771 3.771" />
                      <path data-name="Path" d="M11.667 9.229L15.438 13" />
                    </g>
                  </svg>
          
                </div>
              </div>
          
            </li>
          </ul>

          <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-three-quarters nhsuk-card-group__item">
          
             
          
            </li>
          </ul>

        </div>

        <div class="nhsuk-grid-column-one-half">

          <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-three-quarters nhsuk-card-group__item">
          
              <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content nhsuk-card__content--primary">
                  <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="/uploadcontent">Upload handwritten content</a>
                  </h2>
                  <p class="nhsuk-card__description">Upload and transcribe content to this patient's medical record</p>
          
                  <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                    <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                    <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                      <path d="M15.438 13l-3.771 3.771" />
                      <path data-name="Path" d="M11.667 9.229L15.438 13" />
                    </g>
                  </svg>
          
                </div>
              </div>
          
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
