{% extends 'layout.html' %}

{% block pageTitle %}
  Upload handwritten content to a patient's record
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form class="form" action="/selectafile" method="post">

      <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="/start">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>

      <h1>
        Upload handwritten content to a medical record
      </h1>

      <b>Kevin Calvin BLOGGS</b> <br>
      NHS number: 973 078 7212 <br>
      Date of birth: 13 September 2006<br><br>

      <p>
        Use this service to:
      </p>
      <ul>
        <li>
          Upload and trancribe paper-based or handwritten content
        </li>
        <li>
          Check the content transcription
        </li>
      </ul>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Get started
      </button>

    </form>

    </div>  

  </div>
{% endblock %}
